
@{
    ViewBag.Title = "CheckNIK";
}
@section breadcrumb_title{
    <h3>Home</h3>
}
@section breadcrumb_items{
    <li class="breadcrumb-item active">Home</li>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 set-col-12 box-col-12">
            <div class="card">
                <div class="blog-box blog-shadow">
                    <img class="img-fluid" src="@Url.Content("~/Public/images/blog-3.jpg")" alt="">
                    <div class="blog-details">
                        <h2 class="text-white">Vaccine Now</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-sm-5 m-10">
                <div class="blog-box blog-list row">
                    <div class="col-sm-5"><img class="img-fluid sm-100-w" src="@Url.Content("~/Public/images/blog-2.jpg")" alt=""></div>
                    <div class="col-sm-7">
                        <div class="blog-details">
                            <div class="blog-date"><h3>Pastikan Anda Sudah Vaksin</h3></div>
                            <h6>
                                <a href="@Url.Action("Index", "CheckNik")">Cek Nik Anda</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-5 m-10">
                <div class="blog-box blog-list row">
                    <div class="col-sm-5"><img class="img-fluid sm-100-w" src="@Url.Content("~/Public/images/blog-1.jpg")" alt=""></div>
                    <div class="col-sm-7">
                        <div class="blog-details">
                            <div class="blog-date"><span>Vaccine Data</span></div>
                            <h6>
                                <a href="@Url.Action("Index", "CheckVaccine")">Cek Vaksin yang Terverifikasi</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="m-30">Pentingnya Vaksin</h3>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Vaksinasi sebagai cara efektif melindungi diri dan masyarakat dari penyakit infeksi</h5>

                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body" style="text-align:justify">
                        <p class=" text-justify">
                            Vaksinasi merupakan salah satu cara paling efektif
                            untuk melindungi diri dan masyarakat dari penyakit infeksi.
                            Vaksin membantu tubuh untuk mengembangkan sistem kekebalan
                            yang kuat terhadap penyakit-penyakit seperti polio, campak,
                            hepatitis, dan masih banyak lagi. Dengan menerima vaksin,
                            kita dapat mengurangi risiko tertular penyakit tersebut dan
                            juga membantu mencegah penyebarannya kepada orang lain.
                        </p>
                    </div>
                </div>
            </div>           
            <div class="col-sm-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5> Peran penting vaksinasi dalam mencapai herd immunity</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body" style="text-align:justify">
                        <p class=" text-justify">
                            Vaksinasi memiliki peran penting dalam mencapai kekebalan kelompok atau herd immunity. Konsep herd immunity berarti jika sejumlah besar populasi telah divaksinasi, maka penyakit tersebut akan kesulitan untuk menyebar dan melindungi individu yang rentan, seperti bayi yang belum dapat divaksinasi atau orang dengan sistem kekebalan yang lemah. Dengan membangun kekebalan kelompok melalui vaksinasi, kita dapat melindungi mereka yang tidak dapat menerima vaksin secara langsung.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5> Peran penting vaksinasi dalam mencapai herd immunity</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body" style="text-align:justify">
                        <p class=" text-justify">
                            Vaksinasi tidak hanya melindungi individu yang divaksinasi, tetapi juga membantu mengurangi beban penyakit secara keseluruhan di masyarakat. Dengan mencegah penyebaran penyakit, kita dapat mengurangi jumlah kasus, rawat inap, dan komplikasi yang terkait dengan penyakit tersebut. Ini berdampak positif pada sistem perawatan kesehatan dengan mengurangi tekanan pada fasilitas medis dan biaya pengobatan yang tinggi.
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-sm-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5> Peran penting vaksinasi dalam mencapai herd immunity</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body" style="text-align:justify">
                        <p class=" text-justify">
                            Vaksinasi merupakan bentuk tanggung jawab kita sebagai individu dan anggota masyarakat yang peduli terhadap kesehatan diri dan orang lain. Dalam upaya untuk mencapai dunia yang lebih sehat, penting bagi setiap individu untuk mengikuti jadwal vaksinasi yang disarankan oleh otoritas kesehatan. Dengan melakukan vaksinasi, kita turut berpartisipasi dalam upaya global untuk melindungi kesehatan dan kesejahteraan bersama, serta memberikan perlindungan kepada generasi mendatang.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5> Peran penting vaksinasi dalam mencapai herd immunity</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body" style="text-align:justify">
                        <p class=" text-justify">

                            Vaksinasi tidak hanya melindungi individu yang divaksinasi, tetapi juga membantu mengurangi beban penyakit secara keseluruhan di masyarakat. Dengan mencegah penyebaran penyakit, kita dapat mengurangi jumlah kasus, rawat inap, dan komplikasi yang terkait dengan penyakit tersebut. Ini berdampak positif pada sistem perawatan kesehatan dengan mengurangi tekanan pada fasilitas medis dan biaya pengobatan yang tinggi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
