<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="@Url.Content("~/Public/assets/images/favicon.png")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/Public/assets/images/favicon.png")" type="image/x-icon">
    @Html.Partial("~/Views/Shared/App/_Css.cshtml")
    @RenderSection("css", required: false)
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Public/css/toastify.css")" type="text/css" />

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div class="loader-wrapper">
        <div class="loader-index"><span></span></div>
        <svg>
            <defs></defs>
            <filter id="goo">
                <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
                <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
            </filter>
        </svg>
    </div>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        @Html.Partial("~/Views/Shared/Home/_Header.cshtml")

        <!-- Page Header Ends  -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            @Html.Partial("~/Views/Shared/Home/_Sidebar.cshtml")
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                @RenderSection("breadcrumb_title", required: false)
                            </div>
                            <div class="col-6">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="">
                                            <svg class="stroke-icon">
                                                <use href="@Url.Content("~/Public/assets/svg/icon-sprite.svg#stroke-home")"></use>
                                            </svg>
                                        </a>
                                    </li></li>
                                    @RenderSection("breadcrumb_items", required: false)
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                @RenderBody()
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            @Html.Partial("~/Views/Shared/App/_Footer.cshtml")
            <!-- footer end-->

        </div>
    </div>
    <!-- latest jquery-->
    <script src="@Url.Content("~/Public/js/toastify.js")"></script>

    @Html.Partial("~/Views/Shared/App/_Script.cshtml")
    @RenderSection("script", required: false)
    @if (TempData["success"] != null)
    {
        <script>
            // Mengambil nilai TempData success
            var successMessage = '@TempData["success"]';

            // Menampilkan toast dengan pesan success
            Toastify({
                text: successMessage,
                duration: 3000,
                gravity: 'top',
                position: 'right',
                backgroundColor: 'linear-gradient(to right, #008000, #006600)',
                progressBar: true,
                close: true
            }).showToast();
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script>
            // Mengambil nilai TempData error
            var errorMessage = '@TempData["error"]';

            // Menampilkan toast dengan pesan error
            Toastify({
                text: errorMessage,
                duration: 3000,
                gravity: 'top',
                position: 'right',
                backgroundColor: 'linear-gradient(to right, #FF0000, #FF5733)',
                progressBar: true,
                close: true
            }).showToast();
        </script>
    }
</body>
</html>